<mat-nav-list class="side-bar">
    <div class="profile-card">

        <img *ngIf="user.picture == ''" src="../../../../assets/no-profile.jpg">
        <img *ngIf="user.picture != ''" src="../../../../assets/no-profile.jpg">
        <div class="header">
            <h3>Hi, {{user.name}} {{user.surname}}</h3>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>home</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>announcements</mat-icon>
        Posts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">
        <mat-icon>bookmark</mat-icon>
        Articles
    </a>

    <mat-divider class="divider"></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

    <span fxFlex></span>

    <mat-divider class="divider"></mat-divider>


</mat-nav-list>
<mat-nav-list class="side-bar-log-out">
    <button class="button-logout" mat-button (click)="logout()">
        <mat-icon>directions</mat-icon>
        Logout
    </button>
</mat-nav-list>

