<mat-nav-list class="side-bar">
    <div class="profile-card">

        <img *ngIf="user.picture == ''" src="../../../../assets/no-profile.jpg">
        <img *ngIf="user.picture != ''" src="../../../../assets/no-profile.jpg">
        <div class="header">
            <h3>Hi, {{user.name}} {{user.surname}}</h3>
        </div>
    </div>

    <mat-divider class="divider"></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>home</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/invoice">
        <mat-icon>receipt</mat-icon>
        Invoices
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/items">
        <mat-icon>assessment</mat-icon>
        Projects
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">
        <mat-icon>wc</mat-icon>
        Clients
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/expense">
        <mat-icon>monetization_on</mat-icon>
        Expenses
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employees">
        <mat-icon>people</mat-icon>
        Employees
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">
        <mat-icon>bar_chart</mat-icon>
        Reports
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        Settings
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/documents">
        <mat-icon>folder</mat-icon>
        Documents
    </a>
    <span fxFlex></span>

    <mat-divider class="divider"></mat-divider>

</mat-nav-list>
<mat-nav-list class="side-bar-log-out">
    <button class="button-logout" mat-button (click)="logout()">
        <mat-icon>directions</mat-icon>
        Logout
    </button>
</mat-nav-list>

