<div class="container-scroller main">

    <div class="rowLadingPage">
        <div class="card">
            <div class="text-center navbar-brand-image d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/mtc_long.png" alt="logo" /></a>
            </div>
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h4 style="color: #FFFFFF">Forgot your password?</h4>
                <h6 style="color: #FFFFFF" class="font-weight-light">Request a reset to continue.</h6>
                <form class="forms-sample" #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.form.valid && reset(resetPasswordForm)">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" name="companyRegistration" placeholder="Company registration"
                               [(ngModel)]="companyRegistration"
                               #companyReg="ngModel"
                               [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && companyReg.invalid }"
                               required>
                               <div *ngIf="resetPasswordForm.submitted && companyReg.invalid" class="invalid-feedback">
                                   <div *ngIf="companyReg.errors.required">Company registration is required</div>
                               </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" name="email" placeholder="Email address"
                               [(ngModel)]="email"
                               #contactEmail="ngModel"
                               [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && contactEmail.invalid }"
                               required>
                                <div *ngIf="resetPasswordForm.submitted && contactEmail.invalid" class="invalid-feedback">
                                    <div *ngIf="contactEmail.errors.required">Email is required</div>
                                    <div *ngIf="contactEmail.errors.email">Must be a valid email address</div>
                                </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" name="contactNumber" placeholder="Contact Number"
                               [(ngModel)]="contactNumber"
                               #number="ngModel"
                               [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && number.invalid }"
                               required>
                               <div *ngIf="resetPasswordForm.submitted && number.invalid" class="invalid-feedback">
                                   <div *ngIf="number.errors.required">Contact number is required</div>
                               </div>

                    </div>
                    <button type="submit"  class="btn btn-light" style="background-color: #fff; color: #23275b" >Reset</button>
                    <button class="btn btn-gradient-danger"  routerLink="/landing-page">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>