<div class="container-scroller main">

    <div class="rowLadingPage">
        <div class="card">
            <div class="text-center navbar-brand-image d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/mtc_long.png" alt="logo" /></a>
            </div>
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h4 style="color: #FFFFFF">Forgot your password?</h4>
                <h6 style="color: #FFFFFF" class="font-weight-light">Request a reset to continue.</h6>
                <form class="forms-sample">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="companyRegistration" placeholder="Company registration" [(ngModel)]="companyRegistration" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" id="email" placeholder="Email address" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="contactNumber" placeholder="Contact Number" [(ngModel)]="contactNumber" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button type="submit" class="btn  mr-2" style="background-color: #fff; color: #23275b" (click)="reset(companyRegistration, email, contactNumber)">Reset</button>
                    <button class="btn btn-light" style="background-color: #fff; color: #23275b" routerLink="/landing-page">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>