<div class="body">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-6">
            <div class="modal-dialog w-100">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="app-logo mx-auto mb-3"></div>
                        <div class="h5 modal-title text-center">
                            Forgot your Password?
                            <h6 class="mt-1 mb-0 opacity-8"><span>Use the form below to recover it.</span></h6>
                        </div>
                        <div class="divider"></div>

                        <form class="forms-sample" #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordForm.form.valid && reset(resetPasswordForm)">
                            <div class="form-group">
                                    <input type="text" class="form-control" name="companyRegistration" placeholder="Company registration"
                                           [(ngModel)]="companyRegistration"
                                           #companyReg="ngModel"
                                           [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && companyReg.invalid }"
                                           required>
                                    <div *ngIf="resetPasswordForm.submitted && companyReg.invalid" class="invalid-feedback">
                                        <div *ngIf="companyReg.errors.required">Company registration is required</div>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email address"
                                           [(ngModel)]="email"
                                           #contactEmail="ngModel"
                                           [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && contactEmail.invalid }"
                                           required>
                                    <div *ngIf="resetPasswordForm.submitted && contactEmail.invalid" class="invalid-feedback">
                                        <div *ngIf="contactEmail.errors.required">Email is required</div>
                                        <div *ngIf="contactEmail.errors.email">Must be a valid email address</div>
                                    </div>
                                </div>
                            <div class="form-group">
                                    <input type="text" class="form-control" name="contactNumber" placeholder="Contact Number"
                                           [(ngModel)]="contactNumber"
                                           #number="ngModel"
                                           [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && number.invalid }"
                                           required>
                                    <div *ngIf="resetPasswordForm.submitted && number.invalid" class="invalid-feedback">
                                        <div *ngIf="number.errors.required">Contact number is required</div>
                                    </div>

                                </div>
                            <div class="divider"></div>
                            <h6 class="mb-0"><a routerLink="/landing-page" class="text-primary">Sign in existing account</a></h6>
                            <div class="modal-footer d-block text-center">
                                <button  type="submit" class="btn btn-wide btn-pill btn-shadow btn-hover-shine btn-primary btn-lg">
                                    Reset Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fab" routerLink="/request-quotation">
        <div>
            Request Quotation
        </div>
    </div>
</div>


<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>