ul li {
  list-style: none;
}

.tool-bar {
  box-shadow: 0 4px 1px 1px rgb(245, 245, 245);
  background: rgb(219, 106, 10);
  background: linear-gradient(135deg, rgba(219,106,10,0.9318102240896359) 9%, rgba(208,159,63,0.28755252100840334) 24%, rgba(246,243,236,0) 30%);
}