<div id="video_overlays"></div>

<video autoplay muted loop id="myVideo" >
    <source src="../../../assets/Casting.mp4" type="video/mp4">
</video>


<mat-card class="card">


    <div class="header" ></div>
    <div class="line">
    </div>

    <mat-card-content >
        <div class="column" fxLayout="column">
            <div style="padding: 0 9%">
                <img style="height: 100%; width: 100%" src="../../../assets/mtc.png">
            </div>
        </div>
        <div class="column"  fxLayout="column">
            <div style="padding: 0% 7% 0% 0%">
                <mat-tab-group [disableRipple]="true" mat-align-tabs="center" #matgroup>
                    <mat-tab label="Basic_Information">
                        <ng-template mat-tab-label>
                            <mat-icon class="tab-icon">folder_shared</mat-icon>
                            Basic Information
                        </ng-template>

                        <mat-card>
                            <mat-card-content>
                                <div class="top-row">
                                    <div class="field-wrap">
                                        <div style="padding: 0% 5% 0% 0%">
                                            <input matInput type="text" placeholder="Title" [(ngModel)]="title" [value]="title" [autocomplete]='off' required>
                                            <input matInput type="text" placeholder="Company name" [(ngModel)]="companyName" [value]="companyName" [autocomplete]='off' required>
                                        </div>
                                    </div>
                                    <div class="field-wrap">
                                        <div style="padding: 0% 5% 0% 0%">
                                            <input matInput type="text" placeholder="Last name" [(ngModel)]="lastName" [value]="lastName" required>
                                            <input matInput type="text" placeholder="VAT number" [(ngModel)]="vatNumber" [value]="vatNumber" required>
                                        </div>
                                    </div>

                                </div>

                                <div style="padding: 0% 2.5% 0% 0%">
                                    <input matInput type="text" placeholder="Phone" [(ngModel)]="phone" [value]="phone" required>
                                    <input matInput type="text" placeholder="Email" [(ngModel)]="email" [value]="email" required>
                                    <input matInput type="text" placeholder="Website URL" [(ngModel)]="website" [value]="website" required>
                                </div>
                            </mat-card-content>

                            <mat-card-actions style="display: flex;">
                                <button mat-button style="margin-left: 1.5%;" class="button" routerLink="/landing-page"> Cancel </button>
                                <button mat-button class="button" (click)='matgroup.selectedIndex = 1'> Next </button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-tab>

                    <mat-tab label="Address">
                        <ng-template mat-tab-label>
                            <mat-icon class="tab-icon">where_to_vote</mat-icon>
                            Address
                        </ng-template>

                        <mat-card>
                            <mat-card-content>
                                <div style="padding: 0% 2.5% 0% 0%">
                                    <input matInput type="text" placeholder="Address line 1" [(ngModel)]="addressLine1" [value]="addressLine1" required>
                                    <input matInput type="text" placeholder="Address line 2" [(ngModel)]="addressLine2" [value]="addressLine2" required>
                                    <input matInput type="text" placeholder="City" [(ngModel)]="city" [value]="city" required>
                                    <input matInput type="text" placeholder="State/Province" [(ngModel)]="province" [value]="province" required>
                                </div>
                                <div class="top-row">
                                    <div class="field-wrap">
                                        <div style="padding: 0% 5% 0% 0%">
                                            <input matInput type="text" placeholder="Postal code" [(ngModel)]="postalCode" [value]="postalCode" [autocomplete]='off' required>
                                        </div>
                                    </div>
                                    <div class="field-wrap">
                                        <div style="padding: 0% 5% 0% 0%">
                                            <input matInput type="text" placeholder="Country" [(ngModel)]="country" [value]="country" required>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>


                            <mat-card-actions style="display: flex;">
                                <button mat-button style="margin-left: 1.5%;" class="button" (click)='matgroup.selectedIndex = 0'> Back </button>
                                <button mat-button class="button"  > Submit </button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>

    </mat-card-content>
</mat-card>

<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>