<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">
    <div fxFlex>
        <app-stat [bgClass]="'P-Invoice-Value-Added'" [icon]="'dashboard'" [count]="1858.97" [label]="'P-Invoice Value Added'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'A-Invoice-Value-Added'" [icon]="'view_list'" [count]="50.56" [label]="'A-Invoice Value Added'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'On-Time-Deliveries'" [icon]="'shopping_cart'" [count]="71.23" [label]="'On-Time Deliveries'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'In-Budget-Projects'" [icon]="'contact_support'" [count]="73.87" [label]="'In-Budget Projects'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'Customer-Satisfaction'" [icon]="'contact_support'" [count]="0.00" [label]="'Customer Satisfaction'"></app-stat>
    </div>
</div>


