<div class="page-header">
    <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
        Dashboard
    </h3>
</div>
<div class="row container-scroller">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                <h4 class="font-weight-normal mb-3">Paid Invoices
                    <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">R 15,0000</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                <h4 class="font-weight-normal mb-3">Unpaid Invoices
                    <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">R 4,6334</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
                <h4 class="font-weight-normal mb-3">Overdue Invoices
                    <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">R 5,5741</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project Status</h4>
                <div class="form-group">
                    <input style="border: solid  #05b5d4 1px" type="text" class="form-control" placeholder="Search Here" [(ngModel)]="filter">
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date created</th>
                            <th>Project name</th>
                            <th>Project number</th>
                            <th>Progress</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="projects.length != 0">
                        <tr *ngFor="let project of projects | paginate: config | filter: filter ; let i = index">
                            <td>{{i}}</td>
                            <td>{{project.createdOn}}</td>
                            <td>{{project.projectName}}</td>
                            <td>{{project.projectNumber}}</td>
                            <td style="color: #000">
                                10%
                                <div class="progress" >
                                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text" *ngIf="projects.length == 0">
                        No Records Found!
                    </div>
                </div>
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
   <!-- <div class="col-md-5 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Todo</h4>
                <app-todo></app-todo>
            </div>
        </div>
    </div>-->
</div>

<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>