<mat-toolbar class="tool-bar">
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="font-size: x-small">

                <mat-button-toggle value="paymentReminder">
                    Send payment reminder
                    <mat-icon>schedule</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle value="emailReminder">
                    Create email reminder
                    <mat-icon>notifications</mat-icon>
                </mat-button-toggle>

                <mat-button-toggle value="delete">
                    Delete
                    <mat-icon>delete</mat-icon>
                </mat-button-toggle>

            </mat-button-toggle-group>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card style="height: 80%">
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Profile"  >
                <form fxLayout="column" style="margin-top: 5%">

                    <mat-form-field style="margin: 0% 2%" >
                        <mat-label>Company name (disabled)</mat-label>
                        <input matInput disabled value="Aviation holdings cc">
                    </mat-form-field>

                     <table>
                            <tr>
                                <td>
                                    <mat-form-field class="demo-full-width">
                                        <input matInput placeholder="Contact name" value="Aluwani">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="demo-full-width">
                                        <input matInput placeholder="Phone number" value="084 645 4767">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field class="demo-full-width">
                                        <input matInput disabled placeholder="VAT number" value="234567890876543">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="demo-full-width">
                                        <input matInput placeholder="Email" value="alu.nelufule@gmail.com">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field class="demo-full-width">
                                        <input matInput placeholder="Address" value="1 wing street fordsburg Johannesburg Gauteng South Africa 1234">
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" class="content-center">
                                    <button style="width: 30%" mat-raised-button color="primary">Save</button>
                                </td>
                            </tr>
                        </table>
                </form>
            </mat-tab>

            <mat-tab label="Quotations">
                <div class="search">
                    <input matInput type="text" class="searchTerm" placeholder="Search" [(ngModel)]="search">
                    <button type="submit" class="searchButton" (click)="applyFilter(search)">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>

                <table mat-table matSort [dataSource]="dataSource">

                    <!-- companyName Column -->
                    <ng-container matColumnDef="reference">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference</th>
                        <td mat-cell *matCellDef="let element"> {{element.reference}} </td>
                    </ng-container>

                    <!-- contactName Column -->
                    <ng-container matColumnDef="issuedOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issued on </th>
                        <td mat-cell *matCellDef="let element"> {{element.issuedOn}} </td>
                    </ng-container>

                    <!-- contactNumber Column -->
                    <ng-container matColumnDef="billTo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bill to </th>
                        <td mat-cell *matCellDef="let element"> {{element.billTo}} </td>
                    </ng-container>

                    <!-- email Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <!-- Address Column -->
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>


                    <!-- Actions Column -->
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="button-row">
                                <div class="flex-container">
                                    <div class="button-container">
                                        <button mat-mini-fab style="background: #424242; color: white"><mat-icon>edit</mat-icon></button>
                                    </div>
                                    <div class="button-container">
                                        <button mat-mini-fab style="background: rgba(36,165,255,0.88); color: white" ><mat-icon>settings_applications</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50 ]" showFirstLastButtons></mat-paginator>
            </mat-tab>

            <mat-tab label="Invoices">
                Content 3
            </mat-tab>

            <mat-tab label="Payments">
                Content 3
            </mat-tab>

            <mat-tab label="Payments receipts">
                Content 3
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>

    <mat-card-footer>
                <div class="flex-container">
                    <div class="button-container">
                        <button mat-button color="primary" routerLink="/clients">
                            <mat-icon>keyboard_backspace</mat-icon>
                            Back
                        </button>
                    </div>
                </div>
    </mat-card-footer>

</mat-card>
