<div class="container-scroller main">
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-image d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/mtc_long.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle">
                        <i class="mdi mdi-lead-pencil" style="margin-right: 5px"></i>
                        <H6> Request Quotation</H6>
                    </a>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link count-indicator dropdown-toggle" id="signInDropdown" ngbDropdownToggle>
                        <i class="mdi mdi-login" style="margin-right: 5px"></i>
                        <H6> Sign in</H6>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="signInDropdown">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <h6 class="font-weight-light">Sign in to continue.</h6>
                            <form class="pt-3">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="mt-3">
                                    <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="signIn(username, password)">SIGN IN</a>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <a  class="auth-link text-black">Forgot password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link count-indicator dropdown-toggle" id="signUpDropdown" ngbDropdownToggle>
                        <i class="mdi mdi-lead-pencil" style="margin-right: 5px"ß></i>
                        <H6> Sign up</H6>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" ngbDropdownMenu aria-labelledby="signUpDropdown">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                            <form class="pt-3">

                                <div class="form-group">
                                    <select type="text" placeholder="Title" [(ngModel)]="Newuser.title" [value]="Newuser.title"  class="form-control form-control-lg" id="regTitle">
                                        <option *ngFor="let option of titles" [value]="option">{{option}}</option>
                                    </select>
                                </div>



                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail2" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                                        <option>Country</option>
                                        <option>United States of America</option>
                                        <option>United Kingdom</option>
                                        <option>India</option>
                                        <option>Germany</option>
                                        <option>Argentina</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword2" placeholder="Password">
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            <i class="input-helper"></i>
                                            I agree to all Terms & Conditions
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" routerLink="/dashboard">SIGN UP</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="rowLadingPage">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">About</h4>
                    <h5>The University of Johannesburg’s Metal Casting Technology Station (MCTS) is an initiative of the then [LN1]
                        Department of Science and Technology (now Department of Science and Innovation - DSI) under the Technology
                        Innovation Agency (TIA).</h5>

                    <h5>The MCTS operates under the Faculty of Engineering and the Built Environment in
                        partnership with the Department of Metallurgy.</h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product</h4>
                    <h5> The MCTS supports and assists the Metal Casting industry; Foundries, Suppliers and related industries, to improve the sectors
                        innovation ability for increased competitiveness and sustainability, with the following FOCUS AREAS:</h5>
                    <ul class="list-arrow">
                        <li>Physical Metallurgy</li>
                        <li>Moulding Technology</li>
                        <li>Foundry Technology</li>
                        <li>Support services.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contacts</h4>
                    <p>Contact the MCST:</p>
                    <p>MCTS Manager: Kulani Mageza</p>
                    <p>Tel: +27 11 559 6952</p>
                    <p>+27 11 559 6019</p>
                    <p>Email address: kmageza@uj.ac.za</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>