<div id="video_overlays"></div>

<video autoplay muted loop id="myVideo" >
    <source src="../../../assets/Casting.mp4" type="video/mp4">
</video>



<mat-card class="body">


    <div class="header" ></div>
    <div class="line">
    </div>

    <mat-card-content >
        <div class="column" fxLayout="column">
            <div style="padding: 0 9%">
                <img style="height: 100%; width: 100%" src="../../../assets/mtc.png">
            </div>
        </div>
        <div class="column"  fxLayout="column">

            <div style="padding: 0% 30% 0% 0%">
                <button mat-button class="button" routerLink="#" >
                    <mat-icon>library_books</mat-icon>
                    Request Quotation
                </button>
            </div>
            <div style="padding: 0% 30% 0% 0%">
                <button mat-button class="button" routerLink="/login" >
                    <mat-icon>directions</mat-icon>
                    Login
                </button>
            </div>
            <div style="padding: 0% 30% 0% 0%">
                <button mat-button class="button" routerLink="/register" >
                    <mat-icon>how_to_reg</mat-icon>
                    Register
                </button>
            </div>

        </div>

    </mat-card-content>

</mat-card>