
<mat-card class="card">
    <h2 class="quotation-header">METAL CASTING TECHNOLOGY</h2>
<body>
<header class="clearfix">
    <div class="column" fxLayout="column">
        <div style="padding: 0 9%">
<!--            <img style="height: 100%; width: 100%" src="../../../assets/mtc.png">-->
        </div>
    </div>
    <h1 class="quotation-header"> Quotation</h1>
    <table>
        <tr>
            <th class="service">Quotation No:00008</th>&nbsp;&nbsp;&nbsp;
            <th class="desc">Reference No:19008</th>	&nbsp;	&nbsp;	&nbsp;
            <th>Date: 25/08/2020</th>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <th>Valid until:10/09/2020</th>

        </tr>
        </table>
    <mat-card-content fxLayout="column"  class="quotation">
        <mat-form-field class="quotation">

            <div>Bill To</div>
            <div>IT Solutions<br /> Lihle Mabuza</div>
            <div>Phone:011 519-0450</div>
            <div><a href="admin@itsolutions.co.za">admin@itsolutions.co.za</a></div>
        </mat-form-field>
        <mat-form-field class="quotation">

            <span>Address</span>
            <div>120 Albertina Sisulu Road,Kensington,Johannesburg 2094 </div>
            <div><span>Vat Number:</span> <a href="435678901">435678901</a></div>
        </mat-form-field>
    </mat-card-content>
</header>
<mat-card-content fxLayout="column"  class="quotation">
<main>
    <table>
        <thead>
        <tr>
            <th class="No">No</th>
            <th class="Description(Code)">Description(Code)</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="No">5</td>
            <td class="Description(Code)">Chemistry and cleanlinesse</td>
            <td class="quantity">R500.00</td>
            <td class="Unit Price">2</td>
            <td class="Total">R1000.00</td>
        </tr>
        <tr>
            <td class="No">6</td>
            <td class="Description(Code)">Mechanical testing</td>
            <td class="Quantity">R200.00</td>
            <td class="Unit Price">3</td>
            <td class="Total">R600.00</td>
        </tr>
        <tr>
            <td class="No">7</td>
            <td class="Description(Code)">Aluminium deoxidation</td>
            <td class="Quantity">R250.00</td>
            <td class="Unit Price">2</td>
            <td class="Total">R500.00</td>
        </tr>
        <tr>
            <td class="No">7</td>
            <td class="Description(Code)">Tensile and Charpy proficiency</td>
            <td class="Quantity">R150.00</td>
            <td class="Unit Price">2</td>
            <td class="Total">R300.00</td>
        </tr>
        <tr>
            <td colspan="4">SUBTOTAL</td>
            <td class="total">R2400.00</td>
        </tr>
        <tr>
            <td colspan="4">Vat(15%)</td>
            <td class="total">R360.00</td>
        </tr>
        <tr>
            <td colspan="4" class="grand total">GRAND TOTAL</td>
            <td class="grand total">R2760.00</td>
        </tr>
        </tbody>
    </table>
    <div id="STANDARD TERMS & CONDITIONS">
        <div>STANDARD TERMS & CONDITIONS:</div>
        <div class="STANDARD TERMS & CONDITIONS">
            1 All quotations will remain valid for a period of fourteen (14) days from the date of the quotation, or until the date of issues of any new price list, whichever occurs first.
        </div>  &nbsp;

    </div>
    <div class="STANDARD TERMS & CONDITIONS">
        2 Delivery and performance times quoted are estimates and are not binding on the MCTS Company.
    </div>   &nbsp;
    <div class="STANDARD TERMS & CONDITIONS">

        3 All quotations are subject to the availability of input goods or services and subject to correction of good faith errors, and the prices quoted are subject to any increase in the cost price, including currency fluctuations, to MCTS before acceptance of the order.</div>  &nbsp;

    <div class="STANDARD TERMS & CONDITIONS">
        4 In the event of the CUSTOMER disputing the amount of the cost increase in clause 4.3 above, the said amount may be certified by an independent auditor and such certificate shall be final and binding on the CUSTOMER. </div> &nbsp;
    <div class="STANDARD TERMS & CONDITIONS">
        5 All variations to the original quotation accepted by the CUSTOMER must be verified with the official's call center and only on receipt in writing from the call center will this be accepted as legal and binding</div>


</main>
</mat-card-content>


</body>

</mat-card>