<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/no-profile.jpg" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">David Grey. H</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': invoices.isActive }">
      <a class="nav-link" routerLink="/invoice" routerLinkActive #invoices="routerLinkActive">
        <span class="menu-title">Invoices</span>
        <i class="mdi mdi-receipt menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': make_payment.isActive }">
      <a class="nav-link" routerLink="/make-payment" routerLinkActive="active" #make_payment="routerLinkActive">
        <span class="menu-title">Make Payment</span>
        <i class="mdi mdi-file-pdf menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : Create.isActive || View.isActive  }">
      <a class="nav-link" (click)="quotationsCollapsed = !quotationsCollapsed" [attr.aria-expanded]="quotationsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Quotations</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-file-pdf menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!quotationsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/create-quotation" routerLinkActive="active" #Create="routerLinkActive">Request quotation</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/view-quotation" routerLinkActive="active" #View="routerLinkActive">View quotation</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': Projects.isActive }">
      <a class="nav-link" routerLink="/projects" routerLinkActive #Projects="routerLinkActive">
        <span class="menu-title">Projects</span>
        <i class="mdi mdi-database menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
