<div id="video_overlays"></div>

<video autoplay muted loop id="myVideo" >
    <source src="../../../assets/Casting.mp4" type="video/mp4">
</video>


<mat-card class="card">
    <mat-card-header>
        Hi {{user.name}}, you are seeing this because you have not reset your password yet. Please reset your password before you continue.
    </mat-card-header>

    <div class="header" ></div>
    <div class="line">
    </div>

    <mat-card-content >
        <div class="column" fxLayout="column">
            <div>
                <img style="height: 100%; width: 85%" src="../../../assets/mtc_long.png">
            </div>

            <div style="height: 150%; width: 85%; background: #424242; border-radius: 2%; padding: 2%">

                <mat-error *ngIf="!password.hasError('minLength')">
                    <h5>Password must have at least {{minLength}} characters</h5>
                </mat-error>
                <mat-error *ngIf="!password.hasError('maxLength')">
                    <h5>Password must have not more than {{maxLength}} characters</h5>
                </mat-error>
                <mat-error *ngIf="!password.hasError('passwordNoUppercase')">
                    <h5>Password must contain at least one uppercase character</h5>
                </mat-error>
                <mat-error *ngIf="!password.hasError('passwordNoLowercase')">
                    <h5 >Password must contain at least one lowercase character</h5>
                </mat-error>
                <mat-error *ngIf="!password.hasError('passwordNoNumbers') == true">
                    <h5>Password must contain at least a number from (0 - 9)</h5>
                </mat-error>

            </div>
        </div>
        <div class="column"  fxLayout="column">
            <div style="padding: 0% 20% 0% 0%" [formGroup]="formGroup">

                <div>
                    <input matInput type="password" style="margin-bottom: 7%" placeholder="New Password" formControlName="password" (input)="onPasswordInput()" autocomplete="off">
                    <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="password.hasError('passwordIsStrong')">Password not strong</mat-error>

                </div>

                <div>
                    <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" (input)="onPasswordInput()" autocomplete="off">
                    <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your password</mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('passwordMismatch')">Passwords don't match</mat-error>
                </div>

            </div>
        </div>

    </mat-card-content>

    <mat-card-actions style="display: flex; padding: 0% 5.5% 0% 0%;">
        <button mat-button style="margin-top: 7%"  class="button" routerLink="/login" > Cancel </button>
        <button mat-button style="margin-right: 7%; margin-top: 7%" class="button" (click)="signIn(username, password)"> Reset </button>
    </mat-card-actions>

</mat-card>


<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>

