<div class="container-scroller">

    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="card">
            <div class="text-center navbar-brand-image d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/mtc_long.png" alt="logo" /></a>
            </div>
            <h4 style="color: #fff;margin-left: 5%;">Want a quotation?</h4>
            <h6 style="color: #fff;margin-left: 5%;" class="font-weight-light">Please fill out the form. It only takes a few steps</h6>

            <form class="pt-3" #quotationForm="ngForm" (ngSubmit)="quotationForm.form.valid && requestQuotation()">
                <div class="row">
                    <div class="form-group row" style="margin-left: 5%; width: 90%">
                        <input style="border: solid  #23275b 1px" type="text" class="form-control form-control-lg" placeholder="Company name"
                               name="company_name"
                               [(ngModel)]="quotation.company_name"
                               #companyName="ngModel"
                               [ngClass]="{ 'is-invalid': quotationForm.submitted && companyName.invalid }"
                               required>
                        <div *ngIf="quotationForm.submitted && companyName.invalid" class="invalid-feedback">
                            <div *ngIf=" companyName.errors.required">Company name is required</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group row" style="margin-left: 5%; width: 43.5%">
                        <input style="border: solid  #23275b 1px" type="text" class="form-control form-control-lg" placeholder="Email address"
                               name="email"
                               [(ngModel)]="quotation.email"
                               #contactEmail="ngModel"
                               [ngClass]="{ 'is-invalid': quotationForm.submitted && contactEmail.invalid }"
                               required>
                        <div *ngIf="quotationForm.submitted && contactEmail.invalid" class="invalid-feedback">
                            <div *ngIf=" contactEmail.errors.required">Email is required</div>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-left: 5%; width: 43%" >
                        <input style="border: solid  #23275b 1px" type="text" class="form-control form-control-lg"  placeholder="Contact number"
                               [(ngModel)]="quotation.phone_number"
                               name="phone_number"
                               #contactEmail="ngModel"
                               [ngClass]="{ 'is-invalid': quotationForm.submitted && contactEmail.invalid }"
                               required>
                        <div *ngIf="quotationForm.submitted && contactEmail.invalid" class="invalid-feedback">
                            <div *ngIf=" contactEmail.errors.required">Phone number is required</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group row" style="margin-left: 5%; width: 90%">
                        <input type="text" class="form-control form-control-lg"  placeholder="Company registration"
                               [(ngModel)]="quotation.company_Registration"
                               name="company_Registration"
                               #companyReg="ngModel"
                               [ngClass]="{ 'is-invalid': quotationForm.submitted && companyReg.invalid }"
                               required>
                        <div *ngIf="quotationForm.submitted && companyReg.invalid" class="invalid-feedback">
                            <div *ngIf=" companyReg.errors.required">Company registration is required</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group row" style="margin-left: 5%; width: 90%">
                        <input type="text" class="form-control form-control-lg"  placeholder="Address"
                               [(ngModel)]="quotation.bill_address"
                               name="bill_address"
                               #billAddress="ngModel"
                               [ngClass]="{ 'is-invalid': quotationForm.submitted && billAddress.invalid }"
                               required>
                        <div *ngIf="quotationForm.submitted && billAddress.invalid" class="invalid-feedback">
                            <div *ngIf=" billAddress.errors.required">Bill address is required</div>
                        </div>
                    </div>
                </div>


                <div class="table-responsive" style="margin-left: 2.5%; width: 95%">

                    <table class="table" style="background: #f2edf3" >
                        <thead>
                        <tr>
                            <th colspan="4">Add products to the table.</th>
                        </tr>
                        <tr>
                            <th>Focus area</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productsArray; let i = index;">
                                <td style="width: 40%; border: solid  #fff 1px">
                                    {{product.focusArea}}
                                </td>
                                <td style="width: 35%; border: solid  #fff 1px" class="text-success">
                                    {{product.item}}
                                </td>
                                <td style="width: 15%; border: solid  #fff 1px" class="text-danger">
                                    {{product.quantity}}
                                </td>
                                <td style="width: 10%">
                                    <button type="button" class="btn btn-gradient-danger btn-rounded btn-icon" (click)="deleteItem(i)">
                                        <i class="mdi mdi-delete icon-md"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 40%; border: solid  #fff 1px">
                                    <select class="form-control form-control-lg"
                                            [(ngModel)]="selectedFocusArea"
                                            name="selectedFocusArea"
                                            (ngModelChange)="getProducts(selectedFocusArea)"
                                            #focusArea="ngModel"
                                            [ngClass]="{ 'is-invalid': quotationForm.submitted && focusArea.invalid }"
                                            required>
                                        <option *ngFor="let focusArea of focusAreas" [value]="focusArea.name">{{focusArea.name}}</option>
                                        <div *ngIf="quotationForm.submitted && focusArea.invalid" class="invalid-feedback">
                                            <div *ngIf=" focusArea.errors.required">Focus area is required</div>
                                        </div>
                                    </select>
                                </td>
                                <td style="width: 35%; border: solid  #fff 1px">
                                    <select class="form-control form-control-lg"
                                            [(ngModel)]="selectedProduct"
                                            name="selectedProduct"
                                            #product="ngModel"
                                            [ngClass]="{ 'is-invalid': quotationForm.submitted && product.invalid }"
                                            required>
                                        <option *ngFor="let product of products" [value]="product.item">{{product.item}}</option>
                                        <div *ngIf="quotationForm.submitted && product.invalid" class="invalid-feedback">
                                            <div *ngIf=" product.errors.required">Product is required</div>
                                        </div>
                                    </select>
                                </td>
                                <td style="width: 15%; border: solid  #fff 1px">
                                    <input type="number" class="form-control"
                                           [(ngModel)]="selectedQuantity"
                                           name="selectedQuantity"
                                           #quantity="ngModel"
                                           [min]="1"
                                           [ngClass]="{ 'is-invalid': quotationForm.submitted && quantity.invalid }"
                                           required>
                                    <div *ngIf="quotationForm.submitted && quantity.invalid" class="invalid-feedback">
                                        <div *ngIf=" quantity.errors.required">Quantity is required</div>
                                    </div>
                                </td>
                                <td style="width: 10%; border: solid  #fff 1px">
                                    <button type="button" class="btn btn-gradient-primary btn-rounded btn-icon" (click)="addItem()">
                                        <i class="mdi mdi-plus-box icon-md"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="form-group row" style="margin-left: 5%; width: 90%; margin-top: 5%">
                        <textarea type="text" class="form-control form-control-lg"  placeholder="Quotation description"
                               [(ngModel)]="quotation.description"
                               name="description"
                               #description="ngModel"
                               [ngClass]="{ 'is-invalid': quotationForm.submitted && description.invalid }"
                               [required]="productsArray.length <= 0">
                        </textarea>
                        <div *ngIf="quotationForm.submitted && description.invalid" class="invalid-feedback">
                            <div *ngIf=" description.errors.required">Please provide a description of the quote</div>
                        </div>
                    </div>
                </div>

                <div class="mb-4" >
                    <label class="form-check-label text-muted" style="margin-left: 5%; margin-top: 2%; width: 100%" >
                        <input type="checkbox" class="form-check-input" (change)="acceptTermsAndConditions()">
                        <i class="input-helper"></i>
                        <a style="color: #fff;" href="https://www.uj.ac.za/about/Pages/TCs.aspx" target="_blank">I agree to all Terms & Conditions</a>
                    </label>
                </div>

                <div class="row">
                    <button style="margin-left: 5%; margin-top: 1%; width: 43%; height: 50%; margin-bottom: 2%; background-color: #fff; color: #23275b" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" routerLink="/landing-page" >
                        Cancel
                    </button>

                    <button type="submit" style="margin-left: 3%; width: 43%; height: 50%; margin-bottom: 2%; background-color: #fff; color: #23275b" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>